<h1>Your exchanges</h1>

<%= link_to 'New article', new_exchange_path %>

<table>
  <tr>
    <th>Base</th>
    <th>Target</th>
    <th>Amount</th>
    <th>Weeks</th>
  </tr>

  <% @exchanges.each do |exchange| %>
    <tr>
      <td>
        <%= exchange.base %>
      </td>
      <td>
        <%= exchange.target %>
      </td>
      <td>
        <%= exchange.amount %>
      </td>
      <td>
        <%= exchange.weeks %>
      </td>
      <td>
        <%= link_to 'Details', exchange_path(exchange) %>
      </td>
      <td>
        <%= link_to 'Edit', edit_exchange_path(exchange) %>
      </td>
      <td>
        <%= link_to 'Delete', exchange_path(exchange), 
            method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
</table>